# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/codeStyles/
.idea/misc.xml
venv/Include/
venv/Lib/site-packages/PyNaCl-1.4.0.dist-info/
venv/Lib/site-packages/__pycache__/
venv/Lib/site-packages/_cffi_backend.cp37-win_amd64.pyd
venv/Lib/site-packages/bcrypt-3.1.7.dist-info/
venv/Lib/site-packages/bcrypt/
venv/Lib/site-packages/cffi-1.14.0.dist-info/
venv/Lib/site-packages/cffi/
venv/Lib/site-packages/cryptography-2.9.2.dist-info/
venv/Lib/site-packages/cryptography/
venv/Lib/site-packages/easy_install.py
venv/Lib/site-packages/future-0.18.2-py3.7.egg-info/
venv/Lib/site-packages/future/
venv/Lib/site-packages/libfuturize/
venv/Lib/site-packages/libpasteurize/
venv/Lib/site-packages/nacl/
venv/Lib/site-packages/netmiko-3.1.1.dist-info/
venv/Lib/site-packages/netmiko/
venv/Lib/site-packages/paramiko-2.7.1.dist-info/
venv/Lib/site-packages/paramiko/
venv/Lib/site-packages/past/
venv/Lib/site-packages/pip-20.1.1.dist-info/
venv/Lib/site-packages/pip/
venv/Lib/site-packages/pkg_resources/
venv/Lib/site-packages/pycparser-2.20.dist-info/
venv/Lib/site-packages/pycparser/
venv/Lib/site-packages/pyserial-3.4.dist-info/
venv/Lib/site-packages/scp-0.13.2.dist-info/
venv/Lib/site-packages/scp.py
venv/Lib/site-packages/serial/
venv/Lib/site-packages/setuptools-47.3.1.dist-info/
venv/Lib/site-packages/setuptools/
venv/Lib/site-packages/six-1.15.0.dist-info/
venv/Lib/site-packages/six.py
venv/Lib/site-packages/testdata/
venv/Lib/site-packages/textfsm-1.1.0.dist-info/
venv/Lib/site-packages/textfsm/
venv/Lib/site-packages/xlrd/__pycache__/
venv/Scripts/Activate.ps1
venv/Scripts/__pycache__/
venv/Scripts/activate
venv/Scripts/activate.bat
venv/Scripts/deactivate.bat
venv/Scripts/easy_install-3.7.exe
venv/Scripts/easy_install.exe
venv/Scripts/futurize-script.py
venv/Scripts/futurize.exe
venv/Scripts/miniterm.py
venv/Scripts/miniterm.pyc
venv/Scripts/pasteurize-script.py
venv/Scripts/pasteurize.exe
venv/Scripts/pip.exe
venv/Scripts/pip3.7.exe
venv/Scripts/pip3.exe
venv/Scripts/python.exe
venv/Scripts/pythonw.exe
venv/pyvenv.cfg
venv
